prometheus:
  prometheusSpec:
    # scrape all ServiceMonitors in the cluster regardless of labels
    serviceMonitorSelectorNilUsesHelmValues: false

alertmanager:
  enabled: false

grafana:
  adminPassword: your_grafana_password_here
