kubeconfig_path    = "~/.kube/config"
kubeconfig_context = "minikube"
release_name       = "crewmeister"
namespace          = "default"

app_image       = "crewmeister-challenge-app"
app_tag         = "latest"
app_pull_policy = "Never"

mysql_password = "your_password_here"
mysql_storage  = "1Gi"

service_monitor_enabled = true
